[submodule "content/dsa"]
	path = content/dsa
	url = https://github.com/ashwincreates/dsa.git
[submodule "content/aiml"]
	path = content/aiml
	url = https://github.com/ashwincreates/AIML.git
[submodule "content/aoc"]
	path = content/aoc
	url = https://github.com/ashwincreates/Advent-of-Code.git
